body{
    margin:0;
    padding:20pt;
    padding-top:10pt;
    background:rgb(255,255,255);
    font: 9pt/13pt "Lucida Grande",Lucida,sans-serif;
    color:rgb(80,80,80);;
}

h1,
h2,
h3,
h4{
	font-family:"Trebuchet MS",sans-serif;
    color:rgb(22, 130, 178);
    font-weight:normal;
    padding-top:0.5em;
}

b {
    color:rgb(22, 130, 178);
}

input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	border: 1px solid #00A8E6;
}

input.validation-failed, textarea.validation-failed {
	color: red;
	background: #fff44c;
}

input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

textarea {
	font-size: 8pt;
}

hr {
        color: rgb(150, 220, 238);
        background: rgb(150, 220, 238);
        height: 1px;
        border: 0;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.kiwi-editable:hover, .kiwi-editor input {
	background: #ffffdf;
}

.kiwi-editable[id=KIWI1] {
	background: none;
}

.kiwi-editor {
	font: 8pt/13pt "Lucida Grande",Lucida,sans-serif;
	color: #444444;
}

#footer, #header {
	font: 8pt/13pt "Lucida Grande",Lucida,sans-serif;
	color: #999999;
	background: #FCFCFC;
	padding: 5pt;
}

#header {
	border-bottom: 1px solid #EAEAEA;
}

#footer {
	border-top: 1px solid #EAEAEA;
}

#floats div {
	display: float
}

#floats .error {
	border: 1px solid grey;
	position: absolute;
	background: #fff44c;
	font-size: 7pt;
}

.rw-ui-colorpicker {
	background: #EFEFEF;
	border: 1px solid rgb(22, 130, 178);
}

.rw-ui-colorpicker td {
	margin: 0;
	padding: 0;
	width :  8px;
	height : 10px;
}
